{% extends "base.html.twig" %}

{% block title %}Vos réservation passées et a venir{% endblock %}

{% block body %}

<div class="container">
    <h1>Mes réservations</h1>
    <div class="alert alert-info mt-5">
        <p>Retrouvez ci-dessous toutes vos réservation passées et à venir </p>
    </div>
    {% for booking in app.user.bookings %}
        <div class="row mt-4">
            <div class="col-4">
                <img src="{{booking.ad.coverImage}}" alt="Photo de l'annonce {{booking.ad.title}}" class="img-fluid">
            </div>
            <div class="col-8">
                <h4>{{booking.ad.title}}</h4>
                <p>
                    Réservation <strong>n°{{booking.id}}</strong><br>
                    Du  {{booking.startDate| date('d/m/Y')}} au {{booking.endDate | date('d/m/Y')}} ({{booking.amount}} &euro;)
                </p>
                <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-primary">Plus d'information</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}