{% extends "base.html.twig" %}
{% block title %}Création d'une annonce{% endblock %}
{% form_theme form  'ad/_collection.html.twig' %}
{% block body %}

    <div class="container">
        <h1 class="my-5"><i class="fas fa-pencil-alt"></i> Créer une nouvelle annonce</h1>

       {{form_start(form)}}
    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                <h2><i class="fas fa-file-alt"></i> Informations générales</h2>
                <hr>
                {{form_row(form.title)}}
                {{form_row(form.slug)}}
                {{form_row(form.price)}}
                {{form_row(form.rooms)}}
            </div>
            <div class="alert alert-light">
                <h2><i class="fas fa-pencil-alt"></i> Détails de l'annonce</h2>
                <hr>
                 {{form_row(form.introduction)}}
                 {{form_row(form.content)}}

            </div>
        </div>
         <div class="col">
             <div class="alert alert-light">
                <h2><i class="far fa-images"></i> Images de l'annonce</h2>
                <hr>
                    {{form_row(form.coverImage)}}
                    {{form_row(form.images)}}

             </div>
        </div>
     </div>

     <div class="alert alert-warning clearfix">
     <h2 class="alert-heading"> <i class="fas fa-exclamation-triangle"></i> Sauvgarder mon annonce</h2>
       <h5>Vous étes sur le point de créer votre annonce, nous sommes super fier de vous </h5>
        <button type="submit" class="btn btn-primary float-right">
        <i class="fas fa-check"></i>
        Créer une nouvelle annonce
        </button>
      {{ form_end(form)}}
     </div>
    </div>

{% endblock %}


{% block javascripts %}
<script>
    //Ajouter une image
    $('#add-image').click(function(){
        // je recupere le numero des futurs champs que je vais créer
        const index = +$('#widgets-counter').val();

        //Je recupere le prototype des entrées
        const tmpl = $('#ad_images').data('prototype').replace(/__name__/g, index);
        
        //J'injecte ce code au sein de la div 
        $('#ad_images').append(tmpl);

        //Pour rajouter encore une autre image +1
        $('#widgets-counter').val(index + 1);

        //Je gere le button supprimer
        handleDeleteButtons();
    });

    //Supprimer une image
    function handleDeleteButtons(){
        $('button[data-action="delete"]').click(function(){
            const target = this.dataset.target;
            $(target).remove();
        });
    }
      
    handleDeleteButtons();
</script>


{% endblock %}